<br/><br/><br/>
<div class = "container-fluid">
	<div class = "container">
		<center>
			<h1>Domain selling and buying just got easier <br/>
				<small>List your domain for as little as 99 cents.</small><br/>
				<small> No more middleman, direct contact.</small>
			</h1>
			<button class = "btn btn-primary btn-lg">Buy Now</button>
			
			<%= link_to 'Sell Now', new_sell_path, :class => "btn btn-success btn-lg" %>
		</center>
		<br/><br/><br/>
		<hr>

		<div class = "row">
			<div class="col-md-4 col-md-offset-2">

					<div class="panel panel-primary">
					  <div class="panel-heading">
					    <h2 class="panel-title">Premium Domains</h2>
					  </div>
					  <div class="panel-body">
					    <table class="table">
					        <thead>
					          <tr>
					        
					            <th>Domain</th>
					            <th>Asking</th>
					            <th>Contact Seller</th>
					          </tr>
					        </thead>
					        <tbody>
					          <tr>
					            <td><strong>graftly</strong>.com</td>
					            <td>$ 4999.99 </td>
					            <td><a href="" class ="btn btn-xs btn-primary">Negotiate Price</a></td>
					          </tr>
					          <tr>
					            <td><strong>atleast</strong>.org</td>
					            <td>$ 4999.99 </td>
					            <td><a href="" class ="btn btn-xs btn-primary">Negotiate Price</a></td>
					          </tr>
					          <tr>
					            <td><strong>trylisted</strong>.com</td>
					            <td>$ 4999.99 </td>
					            <td><a href="" class ="btn btn-xs btn-primary">Negotiate Price</a></td>
					          </tr>
					        </tbody>
				      	</table>
					  </div>
					</div>
					<!--
					atleast.co
					atleast.org
					graftly.com
					grocerify.com
					ioffer.us
					meup.co
					neuly.com
					onlinebit.co.in
					trylisted.com
				-->
			</div>

			<div class = "col-md-4">
				<div class="panel panel-success">
				  <div class="panel-heading">
				    <h2 class="panel-title">Just Sold</h2>
				  </div>
				  <div class="panel-body">
						<table class="table">
					        <thead>
					          <tr>
					        
					            <th>Domain</th>
					            <th>Asking</th>
					            <th>Sold for</th>
					          </tr>
					        </thead>
					        <tbody>
					          <tr>
					            <td><strong>openspace</strong>.co</td>
					            <td>$ 1500.00 </td>
					            <td><a class ="btn btn-success btn-xs">$ 900.00</a></td>
					          </tr>

					          <tr>
					            <td><strong>openspace</strong>.co</td>
					            <td>$ 1500.00 </td>
					            <td><a class ="btn btn-success btn-xs">$ 900.00</a></td>
					          </tr>

					          <tr>
					            <td><strong>openspace</strong>.co</td>
					            <td>$ 1500.00 </td>
					            <td><a class ="btn btn-success btn-xs">$ 900.00</a></td>
					          </tr>
					          
					        </tbody>
				      	</table>
				  </div>
				</div>
			</div>
		</div>
		<hr/>

		<div class = "row">
			<div class="col-md-4 col-md-offset-2">
				<h2 class = "text-primary">Why Choose Neuly?</h2>
				<p>List Regular domain for 99 cents.</p>
				<p>List Premium domain for $ 2.99 .</p>
				<p>Secure transaction via Escrow.com</p>
				<p>No more bidding, no pain.</p>
			</div>

			<div class = "col-md-6">
				<h2 class = "text-primary">How it works? </h2>
				<p>Seller lists domain, pays listing fee.</p>
				<p>Buyer negotiates price via Neuly.</p>
				<p>Seller sells domain to buyer.</p>
				<p>Buyer pays seller via escrow.</p>
			</div>
		</div>
		<hr/>

		
	</div>
</div>
