<%= render "partial/navbar" %>
<div class = "container">
	<div class = "col-md-4 col-md-offset-4">
		<h1 class = "text-primary">Enter Details</h1>

		<%= render 'form' %>

		<%= link_to 'Back', sells_path %>

		<br/><br/>
	</div>
</div>
